
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.builder {
    min-height: 100%;
    &:before {
        content: "";
        display: block;
        position: fixed;
        z-index: 0;
        left: 60%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #2f4255;
        border-left: 1px solid #2a3b4c;
    }
}
.builder-preview {
    position: relative;
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 50px 40px 40px;
    text-align: center;
    border-left: 1px solid #2a3b4c;
    
    .preview-button {
        margin-bottom: 30px;
    }

    .preview-code {
        text-align: left;
        font-size: 14px;
        padding: 20px;
    }
    .preview-colorpicker {
        position: fixed;
        top: 15px;
        left: 15px;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(183, 187, 189, 0.5);
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
        &:before {
            content: "";
            display: block;
            vertical-align: top;
            width: 20px;
            height: 10px;
            background-color: rgba(183, 187, 189, 0.5);
            border-radius: 10px 10px 0 0;
        }
    }
}
.builder-dashboard {
    position: relative;
    z-index: 1;
    float: left;
    width: 40%;
    box-sizing: border-box;
    background-color: #2f4255;
    color: #7a97af;
    
    input[type="text"] {
        background-color: #3b5168;
        color: #fff;
        border: 1px solid #4a6077;
        border-radius: 4px;
        font-size: 13px;
        font-family: Tahoma, Arial, sans-serif;
        line-height: 16px;
        padding: 3px 5px 2px;
        box-sizing: border-box;
        margin: 0;
        &:focus {
            outline: none;
            border-color: #6285a9;
        }
    }
}

.builder-section {
    border-bottom: 1px solid #253342;

    .section-class {
        .clearfix();
        padding: 15px 15px 15px 5px;
        background-color: #2a3b4c;
        .class-name {
            display: inline-block;
            float: left;
            font-size: 18px;
            font-family: "Courier New", Courier, monospace;
            line-height: 24px;
            color: #ffffff;
            input[type="text"] {
                width: 140px;
                padding: 0 5px 0 10px;
                margin: 0;
                border: none;
                font-size: 18px;
                font-family: "Courier New", Courier, monospace;
                line-height: 24px;
                background-color: transparent;
                color: #ffffff;
                &:focus {
                    background-color: #364c63;
                    outline: none;
                }
            }
        }
    }

    .section-control {
        padding: 10px 15px;
        border-top: 1px solid #253342;
        //background-color: #253342;
        text-align: right;
        .control-item {
            display: inline-block;
            margin-left: 10px;
            color: #7898a8;
            font-size: 13px;
            &:hover,
            &.is-checked {
                color: #13b6ff;
            }
            &:active {
                color: #6dcdff;
            }
        }
    }
}
.builder-section_hover,
.builder-section_active,
.builder-section_disabled {
    padding-left: 30px;
    .section-class,
    .section-rules {
        border-left: 1px solid #253342;
    }
}

.builder-controls {
    padding: 15px;
}

.builder-rulesList {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 0;
    li {
        position: relative;
        display: inline-block;
        font-size: 12px;
        color: #516f8e;
        border: 1px solid;
        padding: 4px 8px;
        cursor: pointer;
        margin-right: -1px;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
        &:hover,
        &.is-selected {
            color: #b2c7dd;
            z-index: 1;
        }
    }
}

.builder-rule {
    .clearfix();
    padding: 10px 15px;
    border-bottom: 1px solid #394e63;
    &:last-child {
        border-bottom: none;
    }

    .rule-label {
        display: inline-block;
        width: 50px;
        vertical-align: top;
        line-height: 22px;
        font-size: 13px;
    }

    .rule-input {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        margin-left: 10px;
        input[type="text"] {
            width: 100%;
        }
        .input-label {
            display: block;
            width: 100%;
            padding-top: 1px;
            font-size: 10px;
            text-align: center;
            margin-bottom: -5px;
        }
    }

    .rule-range {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        margin-left: 10px;
    }

    .rule-color {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 46px;
        height: 19px;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
        background-color: #eee;
        margin-left: 10px;
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 3px;
        }
    }

    .rule-buttons {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
    .rule-button {
        display: inline-block;
        color: #516f8e;
        border: 1px solid;
        border-radius: 4px;
        padding: 2px 2px 1px;
        line-height: 18px;
        font-size: 15px;
        width: 20px;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        &:hover,
        &.is-checked {
            color: #fff;
        }
    }
    .rule-button_bold {
        font-weight: bold;
    }
    .rule-button_italic {
        font-style: italic;
        padding-left: 1px;
    }
}

/* COMMON BUTTONS */
.b-button {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    height: 40px;
    line-height: 38px;
    padding: 0px 20px 0px 20px;
    background: #3c5c7a;
    font-size: 14px;
    color: #9ebfd1;
    font-weight: bold;
    border: 1px solid #577796;
    border-radius: 5px;
    &:hover {
        background: #3a5670;
    }
}

/* RANGE SLIDER */
.range-slider {
    position: relative;
    width: 100px;
    height: 4px;

    div {
        white-space: nowrap;
        position: absolute;
    }
    .bar {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #222f3d;
        overflow: hidden;
        .selection {
            width: 0;
            height: 100%;
            background: #13b6ff;
        }
    }
    .handle {
        cursor: pointer;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border-radius: 50%;
        top: -4px;
        background-color: #fff;
        &.active {
            background-color: #fff;
        }
    }
    .bubble {
        display: none;
        cursor: default;
        top: -20px;
        padding: 1px 3px 1px 3px;
        font-size: 0.7em;
        font-family: sans-serif;
        &.active {
            display: inline-block;
        }
        &.limit {
            color: #777;
        }
    }
}


@import "colorpicker";