<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Button CSS Builder</title>

    <link rel="stylesheet" href="css/styles.css"/>
    <style id="dynamic-css" type="text/css"></style>

</head>
<body class="g-css" ng-controller="MainCtrl as main" style="background-color:{{main.options.previewBg}}">
<div class="g-css-body">

    <div class="g-header" >
        <div class="header-settings">
            <input type="text" ng-model="main.options.buttonText"/>
            <span class="header-colorpicker" colorpicker ng-model="main.options.previewBg"><span ng-include="'/assets/images/icon-paint-bucket.svg'"></span></span>
        </div>
        <div class="header-stockButton">
            <span class="stockButton-item"><a href="#" ng-click="main.load('spiro-disco-ball')" style="background-color: #1cd1ff"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="main.load('blue')" style="background-color: #3e84ff"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="main.load('purple')" style="background-color: #7e73ff"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="orchid" style="background-color: #e862e3"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="crimson-light" style="background-color: #ff669d"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="radical-red" style="background-color: #ff426a"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="tomato" style="background-color: #ff6042"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="yellow" style="background-color: #ffbd30"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="inchworm" style="background-color: #94ff51"></a></span>
            <span class="stockButton-item"><a href="#" ng-click="spring-green" style="background-color: #00FF7F"></a></span>
        </div>
    </div>

    <div class="__builder-preview">
        <button-preview-list class="g-preview-list"></button-preview-list>

        <div class="__preview-code" render-directive="preview">
            <textarea name="code" class="code-textarea" onclick="this.select()"></textarea>
            <pre class="code-pre"></pre>
        </div>

    </div>

    <div class="builder-dashboard">
        <button-list></button-list>
    </div>
</div>



<!-- SIZE -->
<script type="text/ng-template" id="size.html">
    <span class="rule-label">Size</span>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules.height" value="">
        <span class="rule-value-label">Height</span>
    </div>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules.padding" value="">
        <span class="rule-value-label">Padding</span>
    </div>
</script>

<!-- FILL -->
<script type="text/ng-template" id="fill.html">
    <span class="rule-label">Fill</span>
    <span class="rule-color" colorpicker ng-model="button[section].rules.background" style="background: {{button[section].rules.background}}"></span>
</script>

<!-- FONT -->
<script type="text/ng-template" id="font.html">
    <span class="rule-label">Font</span>
    <span class="rule-color" colorpicker ng-model="button[section].rules.color" style="background: {{button[section].rules.color}}"></span>
    <div class="rule-input">
        <input type="number" name="font-size" value="" ng-model="button[section].rules['font-size']">
        <span class="rule-value-label">Size</span>
    </div>
    <div class="rule-buttons">
        <a class="rule-button rule-button_bold" href="javascript:void(0)" toggle-silent-rule="font-weight" ng-model="button[section].rules['font-weight']">B</a>
        <a class="rule-button rule-button_italic" href="javascript:void(0)" toggle-silent-rule="font-style" ng-model="button[section].rules['font-style']">I</a>
        <a class="rule-button rule-button_tt" href="javascript:void(0)" toggle-silent-rule="text-transform" ng-model="button[section].rules['text-transform']">TT</a>
    </div>
</script>

<!-- BORDER -->
<script type="text/ng-template" id="border.html">
    <span class="rule-label">Border</span>
    <span class="rule-color" colorpicker ng-model="button[section].rules['border-color']" style="background: {{button[section].rules['border-color']}}"></span>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules['border']" value="">
        <span class="rule-value-label">Thickness</span>
    </div>
</script>

<!-- RADIUS -->
<script type="text/ng-template" id="radius.html">
    <span class="rule-label">Radius</span>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules['border-radius']" value="">
    </div>
    <div class="rule-range">
        <div range-slider floor="0" ceiling="50" step="1" highlight="left" ng-model="button[section].rules['border-radius']"></div>
    </div>
</script>

<!-- SHADOW -->
<script type="text/ng-template" id="shadow.html">
    <span class="rule-label">Shadow</span>
    <span class="rule-color" colorpicker="rgba" ng-model="button[section].rules['box-shadow-color']" style="background: {{button[section].rules['box-shadow-color']}}"></span>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules['box-shadow-y']" value="">
        <span class="rule-value-label">Offset Y</span>
    </div>
    <div class="rule-input">
        <input type="number" ng-model="button[section].rules['box-shadow-blur']" value="">
        <span class="rule-value-label">Blur</span>
    </div>
    <div class="rule-range">
        <div range-slider floor="0" ceiling="50" step="1" highlight="left" ng-model="button[section].rules['box-shadow-blur']"></div>
    </div>
</script>


<!-- Dev -->
<script src="assets/js/angular.min.js"></script>
<script src="app/app.module.js"></script>
<script src="app/home/Main.controller.js"></script>
<script src="app/components/buttons/buttonList.component.js"></script>
<script src="app/components/buttons/buttonPreviewList.component.js"></script>
<script src="app/services/button.service.js"></script>
<script src="app/services/styles.service.js"></script>
<script src="app/components/render.directive.js"></script>
<script src="app/components/toggleGroupRules.directive.js"></script>
<script src="app/components/toggleSilentRule.directive.js"></script>
<script src="app/components/toggleSelector.directive.js"></script>
<script src="app/components/rangeSlider.directive.js"></script>
<script src="app/components/format.directive.js"></script>
<script src="app/colorpicker/colorpicker.module.js"></script>

<!-- Production -->
<!--<script src="assets/js/angular.min.js"></script>
<script src="build/production.min.js"></script>-->
</body>
</html>